@import "tailwindcss";

@theme {
  --font-sans: 'Noto Sans', ui-sans-serif, system-ui;
  
  /* Konfigurasi warna kustom Malang ala v4 */
  --color-malang-blue: #1e3a8a;
  --color-malang-teal: #0f766e;
  --color-malang-accent: #f59e0b;
}